/* 
  Site CSS for CNC Offline Controller ... 
    https://www.smashingmagazine.com/2007/07/css-specificity-things-you-should-know/
*/

:root {
    --body_font: Arial, Helvetica, sans-serif;
    --default: black!important;
    --shade: lightgray!important;
    --light-bg: #80C0FF!important;
    --light-bg: #A0CCB0!important;
    --light-text: white!important;
    --light-border: white!important;
    --dark-bg: #4040FF!important;
    --dark-bg: #209000!important;
    --dark-text: black!important;
    --dark-border: black!important;
}
html, body {
    font-family: var(--body_font);
    margin: 0;
}

div.page {
    background-color: var(--default);
    color: var(--default);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    position: relative;
}

div#content, div#info {
    position: absolute;
    top: 0;
}

div#menu {
    height: 60px;
    background-color: var(--shade);
}

div.tab {
    height: 315px;
    background-color: var(--light-bg);
}

div#status {
    height: 75px;
    color: var(--dark-text);
    background-color: var(--shade);
}

div#close {
    height: 80px;
    width: 800px;
    background-color: var(--shade);
    opacity: 75%;
}

div#text {
    position: absolute;
    top: 80px;
    width: 800px;
    height: 400px;
    color: var(--dark-text);
    background-color: var(--shade);
    font-size: 24px;
    scroll-behavior: auto;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(6,125px);
    column-gap: 6px;
    max-width: 780px;
    padding: 10px;
    align-items: stretch;
    justify-items: stretch;
    font-size: 24px;
    font-weight: bolder;
}
.menu-item {
    border: 2px solid var(--dark-border);  
    border-radius: 8px;
    background-color: var(--light-bg);
    text-align: center;
}
.menu-item.pick {
    color: var(--light-text);
    background-color: var(--dark-bg);
}
.menu-item span {
    display: inline-flex;
    height: -webkit-fill-available;
    align-items: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5,150px);
    grid-template-rows: repeat(4,75px);
    column-gap: 7.5px;
    row-gap: 5px;
    max-width: 780px;
    padding: 2.5px 10px;
    align-items: stretch;
    justify-items: stretch;
    font-size: 24px;
    font-weight: bolder;
}
.button-item {
    border: 4px solid var(--dark-border);
    border-radius: 8px;
    color: var(--light-text);
    background-color: var(--dark-bg);
    text-align: center;
}
.button-item.disabled { opacity: 30%; }
.button-item span {
    display: inline-flex;
    height: -webkit-fill-available;
    align-items: center;
}
.button-item.empty {
    background-color: var(--light-bg);
    border: none;
}
.button-img { 
    height: -webkit-fill-available;
}

.key-grid {
    display: grid;
    grid-template-columns: repeat(9,82px);
    grid-template-rows: repeat(5,60px);
    column-gap: 6px;
    row-gap: 4px;
    max-width: 780px;
    padding: 3px 7px;
    align-items: stretch;
    justify-items: stretch;
    font-size: 24px;
    font-weight: bolder;
}
.key-item {
    border: 3px solid var(--dark-border);
    border-radius: 8px;
    color: var(--light-text);
    background-color: var(--dark-bg);
    text-align: center;
}
.key-item.disabled { opacity: 50%; }
.key-item span {
    display: inline-flex;
    height: -webkit-fill-available;
    align-items: center;
}
.key-item.empty {
    background-color: var(--light-bg);
    border: none;
}
.key-img { 
    height: -webkit-fill-available;
}

.status-grid {
    display: grid;
    grid-template-columns: 400px 130px 130px 130px;
    grid-template-rows: repeat(3,25px);
    row-gap: 0px;
    max-width: 790px;
    padding: 2.5px 5px;
    justify-items: stretch;
    font-size: 20px;
    font-weight: bolder;
}
.status-item {
    text-align: left;
    font-family: 'Andale mono', monospace;
}

.close { 
    float:right;
    width: 48px;
    height: 48px;
    padding: 16px;
    background-color: var(--shade);
}
#log, #report {
    font-family: 'Andale mono', monospace;
    white-space: pre;
    height: 400px;
    overflow: scroll;
}

.file-grid {
    display: grid;
    grid-template-columns: 400px 130px 260px;
    grid-template-rows: repeat(2,35px);
    row-gap: 0px;
    max-width: 786px;
    padding: 3px 5px;
    justify-items: stretch;
    font-size: 24px;
    font-weight: bolder;
    z-index: 10;
    position: absolute;
    bottom: 80px;
    background-color: var(--shade);
    border: 1px solid var(--dark-border);

    font-family: 'Andale mono', monospace;
}
.file-item {
    text-align: left;
}

.cmd-grid {
    display: grid;
    width: 600px;
    padding: 5px 5px;
    justify-items: stretch;
    z-index: 10;
    position: absolute;
    bottom: 84px;
    left: 4px;
    background-color: var(--shade);
    border: 1px solid var(--dark-border);

}
.cmd-item {
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
}
.cmd-item.empty {
    opacity: 50%;
    font-family: 'Andale mono', monospace;
}