<!DOCTYPE html>

<html lang="en-US">

<head>
<meta charset="UTF-8">
<title>CNC Controller</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/cnc.css">
<script src="/cdn/Vue3/vue.3.5.13.js"></script>
<script src="/cdn/Vue3/VueLib3.js"></script>
<script src="/cncModelData.js"></script>

</head>

<body>
    <div id="app" class="page">
    <div id="content">
        <div id="menu" class="menu-grid">
            <div class="menu-item" v-if-class:pick="i===activeTab" v-for="t,i in tabs" @click="pickTab(i)">
                <span>{{t.label}}</span>
            </div>
        </div><!--#menu-->
        <div v-show="activeTabView==='buttons'" class="tab button-grid">
            <div class="button-item" v-if-class:empty="!b.label" v-if-class:disabled="b.disabled" v-for="b in activeButtons" @click="pickButton(b)">
                <img v-if="b.img" class="button-img" :title="b.title" :src="b.img" alt="?"/>
                <span v-else v-html="b.label||''" :title="b.title"></span>
            </div>
        </div><!--.tab class-->
        <div v-show="activeTabView==='keyboard'" class="tab key-grid">
            <div class="key-item" v-if-class:empty="!(b.label||b.key)"  v-if-class:disabled="b.disabled" v-for="b in activeButtons" 
                @click="pickButton(b)">
                <img v-if="b.img" class="button-img" :title="b.title" :src="b.img" alt="?"/>
                <span v-else v-html="b.label||b.key||''" :title="b.title"></span>
            </div>
        </div><!--.tab class-->
        <div class="cmd-grid" v-show="overlay=='cmd'">
            <span id="cmd" class="cmd-item" v-if-class:empty="!cmd">{{cmd||'Type gcode to run...'}}</span>
        </div>
        <div id="status" class="status-grid">
            <span class="status-item" v-for="s in status">{{s}}</span>
        </div><!--#status-->
        <div class="file-grid" v-show="overlay=='file' && !show.info">
            <span class="file-item" v-for="d in fileDetails">{{d}}</span>
        </div>
        <div class="listing-grid" v-show="show.listing">
            <span class="listing-item" v-if-class:empty="!f.n" v-for="f in subListing" @click="filePick(f.i)">{{f.n}}</span>
            <span class="listing-item btn" v-for="b in fileButtons" @click="filePick(b.action)">
                <img v-if="b.img" class="button-img" :title="b.title" :src="b.img" alt="?" />
                <span v-else v-html="b.label||''" :title="b.title"></span>
            </span>
        </div>
        <div class="rpi" v-show="show.rpi">
            <div class="rpi-grid">
                <span class="rpi-item" @click="rpi('halt')">HALT RPI</span>
                <span class="rpi-item" @click="rpi('reboot')">REBOOT RPI</span>
                <span class="rpi-item" @click="rpi('server')">RESTART SERVER</span>
                <span class="rpi-item" @click="rpi('client')">RESTART CLIENT</span>
                <span class="rpi-item" @click="rpi('reload')">RELOAD PAGE</span>
                <span class="rpi-item" @click="rpi('ws')">TOGGLE WEBSOCKET [{{wsMsg}}]</span>
                <span class="rpi-item empty"></span>
                <span class="rpi-item" @click="rpi('close')">CANCEL</span>
            </div>

        </div>
    </div><!--.content-->
    <div id="info" v-show="show.info">
        <div id="close">
            <img class="trash" src="/images/trash.png" @click="trash()" alt="?"/>
            <img class="clip" src="/images/clip.png" @click="clip(show.info)" alt="?"/>
            <img class="save" src="/images/save.png" @click="save(show.info)" alt="?"/>
            <img class="close" src="/images/close.png" @click="popup('info')" alt="?"/> 
        </div>
        <div id="text">
            <div id="report" v-show="show.info==='report'">{{report}}</div>
            <div id="log" v-show="show.info==='log'">{{script}}</div>
        </div>
    </div><!--.info-->
    <span>{{JSON.stringify(show)}}</span>
    </div><!--#app-->

    <script src="/cncVue3Model.js"></script>

</body>


</html>
